// style={{
//         height: "300px",
//         width: "150px",
//         gap: "10px",
//         padding: "10px",
//         position: "relative",
//       }}

.card {
  height: 300px;
  width: 150px;
  gap: 10px;
  padding: 10px;
  position: relative;
}
