$font-stack: Helvetica, sans-serif;
$link-color: rgb(93, 91, 89);

@mixin link {
  text-decoration: none;
  margin: 7px 0px;
  font-size: 12px;
  color: $link-color;
  font-family: $font-stack;
}

.trends {
  width: 95%;
  font-family: $font-stack;
  font-weight: 100;
  background-color: white;
  margin: 20px 0px;
  padding: 10px 25px 30px 25px;
  border-radius: 4px;
}

.sec {
  font-size: 20px;
}

.trend {
  display: flex;
  gap: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  border-radius: 5px;
  height: 100px;
  width: 100px;
}

.link {
  @include link;
}

.suggestions {
  padding-bottom: 20px;
}
